<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sức khỏe thú cưng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../../../Css/style.css">
</head>
<body>

<main class="main-content">
    <div style="display:flex; justify-content:space-between; align-items:center; width: 100%; margin-bottom:10px;">
        <h1 style="margin:0">Danh sách Sức khỏe thú cưng</h1>
        <button id="btnAdd">+ Thêm thông tin sức khỏe thú cưng</button>
    </div>

    <!-- Thanh tìm kiếm (Search Bar) -->
    <div class="search-bar-container">
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <label for="searchInput"></label>
            <input
                type="text" 
                id="searchInput" 
                class="search-input" 
                placeholder="Nhập từ khóa tìm kiếm hồ sơ sức khỏe..."
            >
            <button type="button" id="btnSearch" class="btn-search">
                <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
            </button>
        </div>
    </div>

    <div style="width: 100%;">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th style="width: 180px;">PetId</th>
                <th>AppointmentDate</th>
                <th style="width: 200px;">Weight</th>
                <th style="width: 300px;">HeartRate</th>
                <th style="width: 300px;">Temperature</th>
                <th style="width: 300px;">Note</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="recordTable">
            </tbody>
        </table>
    </div>

    <!--Form phục vụ việc update, create owners-->
    <div id="formContainer" class="card p-3 mb-3" style="display:none;">

        <h4 id="formTitle"></h4>

        <form id="recordForm">

            <div class="mb-3">
                <label for="petId">Mã thú cưng</label>
                <select name="petId" id="petId" class="form-control" required>
                </select>
            </div>

            <div class="mb-3">
                <label for="date">Appointment Date</label>
                <input type="date" name="date" id="date" required>
            </div>

            <div class="mb-3">
                <label for="weight">Weight</label>
                <input
                        type="number"
                        step="0.1"
                        id="weight"
                        class="form-control"
                        placeholder="Nhập cân nặng" required>
            </div>
            <div class="mb-3">
                <label for="heartRate">HeartRate</label>
                <input
                        type="number"
                        id="heartRate"
                        class="form-control"
                        placeholder="Nhập nhịp tim" required>
            </div>

            <div class="mb-3">
                <label for="temperature">Temperature</label>
                <input
                        type="number"
                        step="0.1"
                        id="temperature"
                        class="form-control"
                        placeholder="Nhập nhiệt độ" required>
            </div>

            <div class="mb-3">
                <label for="note">Note</label>
                <textarea name="note" id="note" cols="30" rows="10"  class="form-control"></textarea>

            </div>


            <div class="btn">
                <button class="btn btn-primary" type="submit">
                    Lưu
                </button>

                <button
                        id="btnCancel"
                        type="button"
                        class="btn btn-secondary">
                    Hủy
                </button>
            </div>


        </form>

    </div>
<script>window.ACTIVE_TAB = 'record';</script>
<script type="module" src="../../Controller/NavbarController.js"></script>
    <script type="module" src="../../Controller/HealthController.js"></script>
</main>

</body>
</html>
